<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php" verbose="true">
    <testsuites>
        <testsuite name="DI">
            <directory>tests/DI</directory>
        </testsuite>
        <testsuite name="Parser">
            <directory>tests/Parser</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>